html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #111;
  color: #fff;
}

@media screen and (min-width: 90rem) {
  body {
    font-size: 120%;
  }
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}