#films {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1em;
  justify-items: center;
}

@media screen and (max-width: 85rem) {
  #films {
    grid-template-columns: auto;
  }
}

.film {
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 4px;
  max-width: 35rem;
  width: 100%;
  background-color: #111;
}

.film-backdrop {
  height: 11rem;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
}

.film-backdrop::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to top, #111, transparent, transparent);
}

.film-header {
  display: flex;
  margin-top: -9rem;
  position: relative;
  align-items: flex-end;
  padding: 0 1rem;
}

.film-info {
  margin-right: 1em;
}

.film-title {
  font-family: Space Grotesk;
  font-size: 1.4em;
  line-height: 1;
}

.film-details {
  color: rgba(255, 255, 255, 0.5);
  margin-top: 0.25em;
  font-size: 0.9em;
}

.film-poster {
  width: 7em;
  height: 10.5em;
  background-color: red;
  margin-left: auto;
  background-size: cover;
  box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.5);
}

.film-description {
  font-size: 0.9em;
  position: relative;
  padding: 1rem;
  margin: 0;
}