#awards {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@keyframes appear {
  0% {
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.award {
  border: 2px solid var(--color-secondary);
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-self: flex-start;
  backdrop-filter: blur(20px);
  animation: appear ease 500ms 1 forwards;
  opacity: 0;
  transform: translateY(2rem);
  overflow: hidden;
}

.award:not(:last-child) {
  margin-bottom: 1.5rem;
}

.award:nth-child(2n-1) {
  align-self: flex-end;
  margin-right: calc(50% - 3.5rem - 1px);
}

.award:nth-child(2n) {
  align-self: flex-start;
  margin-left: calc(50% - 3.5rem - 1px);
}

@media screen and (max-width: 70rem) {
  .award {
    margin-left: 0 !important;
    margin-right: 0 !important;
    align-self: center !important;
    width: 100%;
  }
}

.award:nth-child(1) {
  animation-delay: 500ms;
}
.award:nth-child(2) {
  animation-delay: 1000ms;
}
.award:nth-child(3) {
  animation-delay: 1500ms;
}
.award:nth-child(4) {
  animation-delay: 2000ms;
}
.award:nth-child(5) {
  animation-delay: 2500ms;
}

.award-section {
  flex: 1;
  order: 1;
  padding: 1rem 1.5rem;
}

.award-title {
  font-size: 1.4em;
  font-weight: 600;
  color: var(--color-secondary);
  font-family: Space Grotesk;
  line-height: 1.1;
}

.award-awarder {
  font-weight: 600;
}

.award-year {
  display: flex;
  order: 2;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-weight: 600;
  font-family: Space Grotesk;
  margin-left: auto;
  width: 7rem;
  background-color: var(--color-secondary);
  color: #000;
}

.award:nth-child(2n) .award-year {
  order: 0;
  margin-left: 0;
  margin-right: auto;
}