.quote {
  display: flex;
  max-width: 38rem;
  font-size: 1.2em;
  backdrop-filter: blur(10px);
  padding: 1em 1em;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.25);
  margin: 0 auto 1.5rem;
  align-items: center;
  transform: translateY(2rem) scale(0.8);
  animation: appear ease 500ms 1 forwards;
  animation-delay: 500ms;
  opacity: 0;
}

@media screen and (max-width: 45rem) {
  .quote {
    max-width: none;
    margin-bottom: 0.5rem;
    animation-delay: 0ms;
  }
}

.quote i {
  font-size: 2em;
  color: rgba(255, 255, 255, 0.25);
  color: var(--color-secondary);
}

.quote p {
  margin: 0 0 0 1em;
}

#awards {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@keyframes appear {
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.award {
  border: 2px solid var(--color-secondary);
  border-radius: 10px;
  display: flex;
  align-self: flex-start;
  backdrop-filter: blur(10px);
  animation: appear ease 500ms 1 forwards;
  opacity: 0;
  transform: translateY(2rem) scale(0.8);
  overflow: hidden;
}

.award:not(:last-child) {
  margin-bottom: 1.5rem;
}

.award:nth-child(2n-1) {
  align-self: flex-end;
  margin-right: calc(50% - 3.5rem - 1px);
  text-align: right;
}

.award:nth-child(2n) {
  align-self: flex-start;
  margin-left: calc(50% - 3.5rem - 1px);
}

@media screen and (max-width: 70rem) {
  .award {
    margin-left: 0 !important;
    margin-right: 0 !important;
    align-self: flex-start !important;
    text-align: left !important;
  }
}

@media screen and (max-width: 70rem) {
  .award {
    width: 100%;
  }
}

.award:nth-child(1) {
  animation-delay: 1000ms;
}
.award:nth-child(2) {
  animation-delay: 1500ms;
}
.award:nth-child(3) {
  animation-delay: 2000ms;
}
.award:nth-child(4) {
  animation-delay: 2500ms;
}
.award:nth-child(5) {
  animation-delay: 3000ms;
}

@media screen and (max-width: 45rem) {
  .award:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  .award:nth-child(1) {
    animation-delay: 500ms;
  }
  .award:nth-child(2) {
    animation-delay: 1000ms;
  }
  .award:nth-child(3) {
    animation-delay: 1500ms;
  }
  .award:nth-child(4) {
    animation-delay: 2000ms;
  }
  .award:nth-child(5) {
    animation-delay: 2500ms;
  }
}

.award-section {
  flex: 1;
  order: 1;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.award-title {
  font-size: 1.3em;
  font-family: Space Grotesk;
  line-height: 1.1;
}

.award-awarder {
  font-size: 0.9em;
  font-weight: 600;
  color: var(--color-secondary);
}

.award-year {
  display: flex;
  order: 2;
  align-items: center;
  justify-content: center;
  font-size: 1.8em;
  font-weight: 600;
  font-family: Space Grotesk;
  margin-left: auto;
  width: 7rem;
  background-color: var(--color-secondary);
  color: #000;
}

@media screen and (max-width: 70rem) {
  .award-year {
    writing-mode: vertical-lr;
    width: auto;
    padding: 0.5em 0;
    font-size: 1.5em;
  }
}

.award:nth-child(2n) .award-year {
  order: 0;
  margin-left: 0;
  margin-right: auto;
}

@media screen and (max-width: 70rem) {
  .award .award-year {
    order: 0;
  }
}