:root {
  --max-width: 60rem;
  --color-secondary: rgba(255, 196, 0);
  --header-width: 12em;
  --max-width-inner: 36em;
}

body {
}

@keyframes fadeIn {
  from {
    transform: scale(1.05);
  }

  to {
    transform: scale(1);
  }
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
  animation: fadeIn ease-out 5000ms 1 forwards;
}

.backdrop.is-index {
  background-image: url('../images/background.jpg');
}

.backdrop.is-about {
  background-image: url('../images/background-7.jpg');
}

.backdrop.is-films {
  background-image: url('../images/background-8.jpg');
}

.backdrop.is-shop {
  background-image: url('../images/background-5.jpg');
}

.backdrop.is-contact {
  background-image: url('../images/background-4.jpg');
}

.wrapper {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

@media screen and (max-width: 45rem) {
  .wrapper {
    flex-direction: column;
  }
}

/* Header */

.header {
  text-align: right;
  position: fixed;
  width: var(--header-width);
  left: 12%;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 70rem) {
  .header {
    left: 6%;
  }
}

@media screen and (max-width: 45rem) {
  .header {
    position: relative;
    width: auto;
    left: auto;
    top: auto;
    transform: none;
    width: 100%;
    text-align: left;
    align-items: center;
    padding: 1em 0 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
  }
}

.logo {
  display: block;
  color: #fff;
  font-family: Space Grotesk;
  text-decoration: none;
  font-size: 3em;
  margin-bottom: 0.5em;
  transition: color ease 125ms;
  padding: 0 1.5rem;
  position: relative;
  flex: 1;
}

@media screen and (max-width: 45rem) {
  .logo {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 2em;
  }

  .logo span:last-child {
    display: block;
  }
}

@keyframes slide {
  0% {
    transform: translateX(calc(100% + 3rem));
  }
  100% {
    transform: translateX(0);
  }
}

.logo:hover,
.logo.is-active {
  color: var(--color-secondary);
}

@media screen and (min-width: 45rem) {
  .logo span {
    display: inline-block;
  }

  .logo.is-index span {
    animation: slide ease 1.25s 1;
  }

  .logo::after,
  .nav a::after {
    content: '';
    position: absolute;
    top: 30%;
    right: 0;
    bottom: 30%;
    width: 2px;
    background-color: var(--color-secondary);
    transition: top ease 125ms, bottom ease 125ms;
    opacity: 0;
  }

  .logo:hover::after,
  .logo.is-active::after,
  .nav a:hover::after,
  .nav a.is-active::after {
    top: 0;
    bottom: 0;
    opacity: 1;
  }
}

.nav {
  flex: 1;
}

@media screen and (max-width: 45rem) {
  .nav {
    margin-top: 0.5em;
  }

  .nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.nav a {
  position: relative;
  display: block;
  padding: 0.35em 1.5rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  transition: color ease 125ms;
}
.nav a:hover,
.nav a.is-active {
  color: var(--color-secondary);
}

@media screen and (max-width: 45rem) {
  .nav a {
    padding: 0.75em;
  }

  .nav a.is-active {
    box-shadow: 0 2px var(--color-secondary);
  }
}

/* Main */

.main {
  width: calc(100% - 24% - var(--header-width));
  line-height: 1.5;
  padding: 1.5rem 0;
  margin-left: calc(12% + var(--header-width));
  margin-right: 12%;
  padding-left: 1.5rem;
}

@media screen and (max-width: 70rem) {
  .main {
    width: calc(100% - 12% - var(--header-width));
    margin-left: calc(6% + var(--header-width));
    margin-right: 6%;
  }
}

@media screen and (max-width: 45rem) {
  .main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
  }
}