:root {
  --max-width: 60rem;
  --color-secondary: rgba(255, 196, 0);
}

body {
  background-color: rgb(41, 41, 100);
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.wrapper {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.header {
  text-align: right;
  position: fixed;
  width: 12rem;
  left: 12%;
  top: 50%;
  transform: translateY(-50%);
}

.logo {
  display: block;
  color: #fff;
  font-family: Space Grotesk;
  text-decoration: none;
  font-size: 3em;
  margin-bottom: 0.5em;
  transition: all ease 125ms;
  padding: 0 1.5rem;
  position: relative;
}

@keyframes slide {
  0% {
    transform: translateX(calc(100% + 3rem));
  }
  100% {
    transform: translateX(0);
  }
}

.logo span {
  display: inline-block;
  animation: slide ease 1.25s 1;
}

.logo:hover,
.logo.is-active {
  color: var(--color-secondary);
}

.logo::after,
.nav a::after {
  content: '';
  position: absolute;
  top: 30%;
  right: 0;
  bottom: 30%;
  width: 2px;
  background-color: var(--color-secondary);
  transition: top ease 125ms, bottom ease 125ms;
  opacity: 0;
}

.logo:hover::after,
.logo.is-active::after,
.nav a:hover::after,
.nav a.is-active::after {
  top: 0;
  bottom: 0;
  opacity: 1;
}

.nav a {
  position: relative;
  display: block;
  padding: 0.35em 1.5rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  transition: all ease 125ms;
}

.nav a:hover,
.nav a.is-active {
  color: var(--color-secondary);
}

.main {
  width: calc(100% - 24% - 12rem);
  line-height: 1.5;
  margin: 1.5rem 0;
  margin-left: calc(12% + 12rem);
  margin-right: 12%;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
}

@keyframes appear {
  0% {
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.award {
  border: 2px solid var(--color-secondary);
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-self: flex-start;
  backdrop-filter: blur(10px);
  animation: appear ease 1s 1 forwards;
  opacity: 0;
  transform: translateY(2rem);
}

.award:not(:last-child) {
  margin-bottom: 1.5rem;
}

.award:nth-child(2n) {
  align-self: flex-end;
}

.award:nth-child(1) {
  animation-delay: 500ms;
}
.award:nth-child(2) {
  animation-delay: 1000ms;
}
.award:nth-child(3) {
  animation-delay: 1500ms;
}
.award:nth-child(4) {
  animation-delay: 2000ms;
}
.award:nth-child(5) {
  animation-delay: 2500ms;
}

.award-section {
  flex: 1;
  order: 1;
  padding: 1rem 2rem;
}

.award-title {
  font-size: 1.4em;
  font-weight: 600;
  color: var(--color-secondary);
  font-family: Space Grotesk;
  line-height: 1.2;
}

.award-awarder {
  font-weight: 600;
}

.award-year {
  display: flex;
  order: 2;
  align-items: center;
  font-size: 2em;
  font-weight: 600;
  font-family: Space Grotesk;
  margin-left: auto;
  padding: 1rem;
  background-color: var(--color-secondary);
  color: #000;
}

.award:nth-child(2n) .award-year {
  order: 0;
  margin-left: 0;
  margin-right: auto;
}